

:host(.fairys-tab){ 

  .fairys-tab-item-title-warp{
    display: flex;
  }

  .fairys-tab-item-title{
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 14px;

    &.disabled{
      cursor:not-allowed
    }

  }
}   